:root {
  --bg: #f4f4f4;
  --text: #642929;
  --card: #37374660;
}

body.dark {
  --bg: #121212;
  --text: #b2c8ae;
  --card: #103936;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: var(--bg);
  color: var(--text);
}

header {
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

button {
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.loading {
  text-align: center;
  font-size: 20px;
  display: none;
}

.card-container {
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 20px;
}

.card {
  background: var(--card);
  border-radius: 15px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s;
}

.card:hover {
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-info {
  padding: 15px;
}

.card-info h3 {
  margin: 0;
  font-size: 18px;
}

.modal {
  display: none;
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal img {
  max-width: 70%;
  border-radius: 15px;
}

.modal h2 {
  margin-top: 15px;
  color: white;
}

#closeModal {
  position: absolute;
  top: 25px;
  right: 40px;
  font-size: 40px;
  color: white;
  cursor: pointer;
}
/* ===== FOOTER ===== */
.footer {
  background: var(--card);
  margin-top: 40px;
  padding: 30px 20px 15px;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  max-width: 1100px;
  margin: auto;
}

.footer h2 {
  margin-bottom: 10px;
}

.footer p,
.footer li {
  font-size: 14px;
  line-height: 1.6;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 6px;
}

.footer a {
  color: var(--text);
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .copyright {
  text-align: center;
  margin-top: 20px;
  font-size: 13px;
  opacity: 0.7;
}
